ci:
  variables:
    SERVER_PORT: 8081
    DB_URL: jdbc:mysql://localhost:3306/todolistMicroServices
    DB_USERNAME: root
    DB_PASSWORD: 123456789
  trigger:
    include:
      - project: 'todolist-micro-services/pipeline'
        ref: 'master'
        file: 'server/ci.yml'
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
